<form (submit)="sendForm()" [formGroup]="contactForm">
    <fieldset>
        <div>
        <label for="sender">Sender
            <input id="sender" type="text" formControlName="sender">
            <span class="error" *ngIf="showError('sender')">
                Sender is required
            </span>
        </label>
        </div>
        <div>
        <label for="subject">subject
            <input id="subject" type="text" formControlName="subject">
            <span class="error" *ngIf="showError('subject')">
                {{ contactForm.get('subject').errors | json}}
            </span>
        </label>
        </div>

            <goi-input
                label="Message"
                field="body"
                type="textarea"
                [form]= "contactForm"
            ></goi-input>

    </fieldset>
    <button type="submit" [disabled]="!contactForm.valid">Send</button>
</form>
<ul>
    <li>{{ contactForm.value | json }}</li>
</ul>