<form (submit)="sendForm()" [formGroup]="contactForm">
    <fieldset>
        <div>
        <label for="sender">Sender
            <input id="sender" type="text" formControlName="sender">
            <span class="error" *ngIf="!contactForm.get('sender').valid">Error</span>
        </label>
        </div>
        <div>
        <label for="subject">subject
            <input id="subject" type="text" formControlName="subject">
            <span class="error" *ngIf="(contactForm.get('subject').touched || contactForm.get('subject').dirty )&& !contactForm.get('subject').valid">Error</span>
        </label>
        </div>
        <div>
        <label for="bdoy">Message
            <input id="bdoy" type="text" formControlName="body">
        </label>
        </div>
    </fieldset>
    <button type="submit" [disabled]="!contactForm.valid">Send</button>
</form>
<ul>
    <li>{{ contactForm.value | json }}</li>
</ul>