.side {
    height: 100%;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
}
.color-card {
    height: 100%;
    overflow: hidden;
    position: relative;
}
#wrap-card {
    height: 200%;
    position: relative;
}


.back {
top: 0;
} 
.front {
top: 50%;
}

.state-1 {
    .back {
        top: 50%;
    } 
    .front {
        top: 0;
    }
}
.up {
    transition:transform 1s;
    transform: translateY(-50%);
}
