<form (submit)="sendForm($event)" [formGroup]="operationForm">
    <fieldset>

        <goi-input
            label="Date"
            type="date"
            field="date"
            [form]="operationForm"
            ></goi-input>
        <div>

        <label >Description
            <input type="text" formControlName="description">
            <span class="error" *ngIf="formTools.hasErrorToShow('description')">
                Description is required
            </span>
        </label>
        </div>
        <goi-input
            class="fieldDescription"
            label="Amount"
            type="number"
            field="amount"
            [form]="operationForm"
            ></goi-input>
        <div>
        <label>Operation type
            <input type="number" formControlName="operationType">
        </label>
        </div>
    </fieldset>
    <button type="submit" [disabled]="!operationForm.valid">Send</button>
</form>
<ul>
    <li>{{ operationForm.value | json }}</li>
</ul>

<goi-storage [storage]="storage"></goi-storage>